h1{
  text-align:center;
}

#container{
  margin-left: 40%;
  height: 400px;
  width: 340px;
}

input{
  margin-left: 25%;
}

p{
  text-align:center;
  font-size: 25px;
}

button{
  margin-left:32%;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid slategray;
  color:slategray;
  letter-spacing:1px;
  text-shadow:0;
  cursor: pointer;
}
button:hover {
  color:white;
  background: slategray;
}
